<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.etv.manage.dao.AuthInvatcodeMapper" >
  <resultMap id="BaseResultMap" type="com.etv.manage.model.AuthInvatcode" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="AI_INVATCODE" property="aiInvatcode" jdbcType="VARCHAR" />
    <result column="AI_CREATE_TIME" property="aiCreateTime" jdbcType="TIMESTAMP" />
    <result column="AI_UPDATE_TIME" property="aiUpdateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, AI_INVATCODE, AI_CREATE_TIME, AI_UPDATE_TIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ETV_AUTH_INVATCODE
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ETV_AUTH_INVATCODE
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.etv.manage.model.AuthInvatcode" >
    insert into ETV_AUTH_INVATCODE (ID, AI_INVATCODE, AI_CREATE_TIME, 
      AI_UPDATE_TIME)
    values (#{id,jdbcType=INTEGER}, #{aiInvatcode,jdbcType=VARCHAR}, #{aiCreateTime,jdbcType=TIMESTAMP}, 
      #{aiUpdateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.etv.manage.model.AuthInvatcode" >
    insert into ETV_AUTH_INVATCODE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="aiInvatcode != null" >
        AI_INVATCODE,
      </if>
      <if test="aiCreateTime != null" >
        AI_CREATE_TIME,
      </if>
      <if test="aiUpdateTime != null" >
        AI_UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="aiInvatcode != null" >
        #{aiInvatcode,jdbcType=VARCHAR},
      </if>
      <if test="aiCreateTime != null" >
        #{aiCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="aiUpdateTime != null" >
        #{aiUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.etv.manage.model.AuthInvatcode" >
    update ETV_AUTH_INVATCODE
    <set >
      <if test="aiInvatcode != null" >
        AI_INVATCODE = #{aiInvatcode,jdbcType=VARCHAR},
      </if>
      <if test="aiCreateTime != null" >
        AI_CREATE_TIME = #{aiCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="aiUpdateTime != null" >
        AI_UPDATE_TIME = #{aiUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.etv.manage.model.AuthInvatcode" >
    update ETV_AUTH_INVATCODE
    set AI_INVATCODE = #{aiInvatcode,jdbcType=VARCHAR},
      AI_CREATE_TIME = #{aiCreateTime,jdbcType=TIMESTAMP},
      AI_UPDATE_TIME = #{aiUpdateTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  
  <!--自定义sql -->
  
  <!--æ¥è¯¢æææ³¨åç   -->
  <select id="selectAllAuthInvatcode" resultMap="BaseResultMap">
   select 
    <include refid="Base_Column_List" />
    from ETV_AUTH_INVATCODE
  </select>
</mapper>