<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.etv.manage.dao.CallInfoMapper" >
  <resultMap id="BaseResultMap" type="com.etv.manage.model.CallInfo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="cu_id" property="cuId" jdbcType="VARCHAR" />
    <result column="sn" property="sn" jdbcType="VARCHAR" />
    <result column="call_fee" property="callFee" jdbcType="VARCHAR" />
    <result column="call_time" property="callTime" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="dial_time" property="dialTime" jdbcType="TIMESTAMP" />
    <result column="sync_rec_state" property="syncRecState" jdbcType="INTEGER" />
    <result column="sync_msg" property="syncMsg" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, cu_id, sn, call_fee, call_time, create_time, dial_time, sync_rec_state, sync_msg
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from etv_call_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from etv_call_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.etv.manage.model.CallInfo" >
    insert into etv_call_info (id, cu_id, sn, 
      call_fee, call_time, create_time, 
      dial_time, sync_rec_state, sync_msg
      )
    values (#{id,jdbcType=BIGINT}, #{cuId,jdbcType=VARCHAR}, #{sn,jdbcType=VARCHAR}, 
      #{callFee,jdbcType=VARCHAR}, #{callTime,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{dialTime,jdbcType=TIMESTAMP}, #{syncRecState,jdbcType=INTEGER}, #{syncMsg,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.etv.manage.model.CallInfo" >
    insert into etv_call_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="cuId != null" >
        cu_id,
      </if>
      <if test="sn != null" >
        sn,
      </if>
      <if test="callFee != null" >
        call_fee,
      </if>
      <if test="callTime != null" >
        call_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="dialTime != null" >
        dial_time,
      </if>
      <if test="syncRecState != null" >
        sync_rec_state,
      </if>
      <if test="syncMsg != null" >
        sync_msg,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="cuId != null" >
        #{cuId,jdbcType=VARCHAR},
      </if>
      <if test="sn != null" >
        #{sn,jdbcType=VARCHAR},
      </if>
      <if test="callFee != null" >
        #{callFee,jdbcType=VARCHAR},
      </if>
      <if test="callTime != null" >
        #{callTime,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dialTime != null" >
        #{dialTime,jdbcType=TIMESTAMP},
      </if>
      <if test="syncRecState != null" >
        #{syncRecState,jdbcType=INTEGER},
      </if>
      <if test="syncMsg != null" >
        #{syncMsg,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.etv.manage.model.CallInfo" >
    update etv_call_info
    <set >
      <if test="cuId != null" >
        cu_id = #{cuId,jdbcType=VARCHAR},
      </if>
      <if test="sn != null" >
        sn = #{sn,jdbcType=VARCHAR},
      </if>
      <if test="callFee != null" >
        call_fee = #{callFee,jdbcType=VARCHAR},
      </if>
      <if test="callTime != null" >
        call_time = #{callTime,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dialTime != null" >
        dial_time = #{dialTime,jdbcType=TIMESTAMP},
      </if>
      <if test="syncRecState != null" >
        sync_rec_state = #{syncRecState,jdbcType=INTEGER},
      </if>
      <if test="syncMsg != null" >
        sync_msg = #{syncMsg,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.etv.manage.model.CallInfo" >
    update etv_call_info
    set cu_id = #{cuId,jdbcType=VARCHAR},
      sn = #{sn,jdbcType=VARCHAR},
      call_fee = #{callFee,jdbcType=VARCHAR},
      call_time = #{callTime,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      dial_time = #{dialTime,jdbcType=TIMESTAMP},
      sync_rec_state = #{syncRecState,jdbcType=INTEGER},
      sync_msg = #{syncMsg,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  
  
   <!--自定义sql  -->
  
  
  <select id="getPageClientCallInfo" parameterType="map" resultMap="BaseResultMap">
  select 
  ci.id id  , ci.sn sn, call_fee call_fee, 
  call_time call_time, ci.create_time create_time
  from etv_call_info ci
  where ci.sn=#{clNo,jdbcType=VARCHAR}
  </select>
  
  <select id="selectSyncFailureCallInfo" resultMap="BaseResultMap" parameterType="String">
  select 
  <include refid="Base_Column_List" />
  from etv_call_info
  where  cu_id = #{cuId,jdbcType=VARCHAR} and  sync_rec_state=0 
  </select>
</mapper>