<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.etv.manage.dao.SellBoardMapper" >
  <resultMap id="BaseResultMap" type="com.etv.manage.model.SellBoard" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="mac" property="mac" jdbcType="VARCHAR" />
    <result column="ip" property="ip" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="version" property="version" jdbcType="VARCHAR" />
    <result column="longitude" property="longitude" jdbcType="VARCHAR" />
    <result column="latitude" property="latitude" jdbcType="VARCHAR" />
    <result column="use_app" property="useApp" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, mac, ip, address, version, longitude, latitude, use_app, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from etv_sell_board
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from etv_sell_board
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.etv.manage.model.SellBoard" >
    insert into etv_sell_board (id, mac, ip, 
      address, version, longitude, 
      latitude, use_app, create_time, 
      update_time)
    values (#{id,jdbcType=VARCHAR}, #{mac,jdbcType=VARCHAR}, #{ip,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{version,jdbcType=VARCHAR}, #{longitude,jdbcType=VARCHAR}, 
      #{latitude,jdbcType=VARCHAR}, #{useApp,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.etv.manage.model.SellBoard" >
    insert into etv_sell_board
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="mac != null" >
        mac,
      </if>
      <if test="ip != null" >
        ip,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="version != null" >
        version,
      </if>
      <if test="longitude != null" >
        longitude,
      </if>
      <if test="latitude != null" >
        latitude,
      </if>
      <if test="useApp != null" >
        use_app,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="mac != null" >
        #{mac,jdbcType=VARCHAR},
      </if>
      <if test="ip != null" >
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        #{version,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null" >
        #{longitude,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null" >
        #{latitude,jdbcType=VARCHAR},
      </if>
      <if test="useApp != null" >
        #{useApp,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.etv.manage.model.SellBoard" >
    update etv_sell_board
    <set >
      <if test="mac != null" >
        mac = #{mac,jdbcType=VARCHAR},
      </if>
      <if test="ip != null" >
        ip = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        version = #{version,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null" >
        longitude = #{longitude,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null" >
        latitude = #{latitude,jdbcType=VARCHAR},
      </if>
      <if test="useApp != null" >
        use_app = #{useApp,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.etv.manage.model.SellBoard" >
    update etv_sell_board
    set mac = #{mac,jdbcType=VARCHAR},
      ip = #{ip,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      version = #{version,jdbcType=VARCHAR},
      longitude = #{longitude,jdbcType=VARCHAR},
      latitude = #{latitude,jdbcType=VARCHAR},
      use_app = #{useApp,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  
  <!--自定义sql  -->
  
  <!--查询所有的售出主板信息  -->
  <select id="selectSellBoardPage" parameterType="String" resultMap="BaseResultMap">
  select 
   <include refid="Base_Column_List" />
  from etv_sell_board
  where 1=1
  <if test="mac!=null and mac!=''">
  and mac like CONCAT(CONCAT('%', ltrim(rtrim(#{mac,jdbcType=VARCHAR}))),'%') 
  </if>
  <if test="startTime !=null and startTime !=''">
  and DATE_FORMAT(create_time,'%Y-%m-%d')&gt;=#{startTime,jdbcType=VARCHAR}
  </if>
  <if test="endTime !=null and endTime !=''">
  and DATE_FORMAT(create_time,'%Y-%m-%d')&lt;=#{endTime,jdbcType=VARCHAR}
  </if>
  <if test="useApp !=null and useApp !=''">
  and  use_app= #{useApp,jdbcType=VARCHAR}
  </if>
  order by create_time desc
  </select>
  
  <!--查询设备mac记录是否存在  -->
  <select id="selectSellBoardByMac" parameterType="String" resultMap="BaseResultMap">
  select <include refid="Base_Column_List" /> from etv_sell_board
  where mac = #{mac,jdbcType=VARCHAR} 
  <if test="useApp !=null and useApp !=''">
  and  use_app= #{useApp,jdbcType=VARCHAR}
  </if>
  </select>
</mapper>