<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
   	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
   	http://www.springframework.org/schema/tx
   	http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
   	http://www.springframework.org/schema/aop
   	http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
   	http://www.springframework.org/schema/tx
   	http://www.springframework.org/schema/tx/spring-tx.xsd
   	http://www.springframework.org/schema/context
   	http://www.springframework.org/schema/context/spring-context.xsd">

	
	
	<context:annotation-config order="0"/>	

	<bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource"
		destroy-method="close">
		<property name="driverClassName" value="${driverClassName}" />
		<property name="url" value="${url}" />
		<property name="username" value="${username}" />
		<property name="password" value="${password}" />

		<!-- 配置过滤 -->
		<property name="filters" value="stat" />
		<!-- 配置初始化大小 -->
		<property name="initialSize" value="${initialSize}" />
		<!-- 配置初始化最大 连接数 -->
		<property name="maxActive" value="${maxActive}" />
		<!-- 配置初始化最小连接数 -->
		<property name="minIdle" value="${minIdle}" />
		<!-- 配置获取连接等待超时的时间 -->
		<property name="maxWait" value="${maxWait}" />
		<!-- 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒 -->
		<property name="timeBetweenEvictionRunsMillis" value="60000" />
		<!-- 配置一个连接在池中最小生存的时间，单位是毫秒 -->
		<property name="minEvictableIdleTimeMillis" value="300000" />
		<!-- 检测连接是否有效的SQL -->
		<property name="validationQuery" value="SELECT 1 FROM DUAL" />
		<property name="testWhileIdle" value="true" />
		<property name="testOnBorrow" value="true" />
		<property name="testOnReturn" value="false" />
		<!-- MySQL不需要做PSCache,只有Oracle/DB2/SQL Server之类支持游标的数据库才需要配置成true -->
		<property name="poolPreparedStatements" value="false" />
	</bean>

	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
        <property name="configLocation" value="classpath:mybatis-config.xml"/> 
		<property name="mapperLocations" value="classpath*:mapper/*.xml" />
	</bean>
	
	 <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
	    <property name="basePackage" value="com.etv.manage.dao"></property>
	    <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>
	 </bean>
	

	<bean id="txManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	

	<tx:advice id="txAdvice" transaction-manager="txManager">
		<tx:attributes>
			<tx:method name="save*" propagation="REQUIRED"></tx:method>
			<tx:method name="add*" propagation="REQUIRED"></tx:method>
			<tx:method name="insert*" propagation="REQUIRED"></tx:method>
			<tx:method name="update*" propagation="REQUIRED"></tx:method>
			<tx:method name="delete*" propagation="REQUIRED"></tx:method>
			<tx:method name="execute*" propagation="REQUIRED"></tx:method>
			<tx:method name="batch*" propagation="REQUIRED"></tx:method>
			<tx:method name="send*" propagation="REQUIRED"></tx:method>
			 <tx:method name="getRequired*" propagation="REQUIRED"/>
            <tx:method name="*" propagation="REQUIRED"/>
			<tx:method name="*" rollback-for="Exception"/><!--默认回滚机制是RuntimeException-->  
			<tx:method name="get*" read-only="true" />
			<tx:method name="count*" read-only="true" />
			<tx:method name="select*" read-only="true" />
			<tx:method name="load*" read-only="true" />
			<tx:method name="find*" read-only="true" />
			<tx:method name="list*" read-only="true" />
			<tx:method name="cell*" read-only="true" />

			<!-- <tx:method name="*" read-only="false" /> -->
		</tx:attributes>
	</tx:advice>
	
	<aop:config>  
        <aop:pointcut id="service" expression="execution(* com.etv.manage.service.*.*(..))" /><!--声明所有包含Service的类的所有方法使用事务-->  
        <aop:advisor advice-ref="txAdvice" pointcut-ref="service" />  
    </aop:config> 
	<!-- 启用支持Annotation注解方式的事务管理 
	<tx:annotation-driven transaction-manager="txManager" />
	-->
</beans>